<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Blog | Home</title>
</head>
<body>
welcome {{ user }}
{{ message }}


<h1>Create New Blog</h1>

<a href="/logout">Logout</a>

<form action="/create-blog" method="post">
    {% csrf_token %}

    <input type="text" name="title">
    <input type="text" name="description">
    <input type="submit" value="Create New Blog">
</form>


{% for blog in blogs %}

    <form action="/update-blog" method="post">
        {% csrf_token %}
        <input type="text" name="id" value="{{ blog.id }}" hidden>
        <input type="text" name="title" value="{{ blog.title }}">
        <input type="text" name="description" value="{{ blog.description }}">
        <input type="submit" value="Update Blog">
    </form>


    {% if blog.author == user %}
        <form action="/delete-blog" method="post">
            {% csrf_token %}
            <input type="text" name="id" value="{{ blog.id }}" hidden>
            <input type="submit" value="Delete Blog">
        </form>
    {% endif %}





{% endfor %}

</body>
</html>
