<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodBlog | Register</title>
</head>
<body>
<h1>{{ message }}</h1>
<form action="/m-register" method="post">

    <input  type="text" name="name" value="padmadev">
    <input  type="text" name="email" value="meow@kitty-dev.com">
    <input  type="text" name="password" value="1111111111">

    <input type="submit" value="Login">
</form>
<a href="/login">Login</a>
</body>
</html>
